* {
    font-family: 'Lato', sans-serif;
}


#color {
    background-image: url(images/rydercup3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header>p {
    text-align: left;
    font-style: italic;
    text-shadow: 2px 2px 4px black;
}


h1 {
    text-align: left;
    text-shadow: 2px 2px 4px black;
}

/* Social media styles */

#social-networks {
    display: flex;
    align-items: center;
}

#social-networks i {
    font-size: 200%;
    color: blue
}


/* Table styles start */

table {
    width: 8vw;
    border: 2px solid red;
    margin-left: auto;
    float: right;
    position: relative;
    right: 80vw;
    font-size: 40px;
}

caption {
    color: red;
    font-style: italic;
}

.euro {
    color: blue;
    text-align: left;
}

.usa {
    color: red;
    text-align: right;
}

/* Table styles end */

main>h2 {
    text-align: left;
    color: blue;
    font-size: 1em;
}

main p {
    text-align: left;
    display: flex;
}

header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: red;
    font-size: 2em;
}

header>a {
    color: blue;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

th {
    word-spacing: 5px;
}

ul {
    list-style-type: none;
    text-align: right;
    color: blue;
    font-style: italic;
    position: absolute;
    right: 6vw;
    top: 0em;
}

/* Form styles */

form {
    text-align: center;
    border: 2px solid;
}




/* Media queries below here*/