#color {
    background-image: url(images/rydercup3.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

header>p {
    text-align: left;
    font-style: italic;
}

body,
header {
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    color: red;
    font-size: 3em;
}

header>a {
    color: blue;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
    text-align: right;
    color: blue;
    position: absolute;
    top: 0px;
    right: 0px;
    font-style: italic;
}




/* Media queries below here*/