* {
    font-family: 'Lato', sans-serif;
}

/* Video styles here */

iframe {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

/* Video styles end */

#border {
    border: 3px solid gold;
    border-style: double;
}

header>p {
    text-align: left;
    font-style: italic;
    text-shadow: 2px 2px 4px black;
}

h1 {
    text-align: left;
    text-shadow: 2px 2px 4px black;
}

/* Social media icon styles */

ul {
    list-style: none;
}

main h2 {
    text-align: center;
    color: blue;
}

header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: red;
    font-size: 2em;
}

header>a {
    color: blue;
    font-family: 'Lato', sans-serif;
}

/* Form styles */

form {
    text-align: right;
    padding-right: 50%;
    font-size: 150%;
    color: blue;
}

body {
    background-image: url(images/newformbackground.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw;
}

.golf {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 5%;
    font-weight: 900;
    position: fixed;
}

#socmed ul {
    list-style: none;
}

#socmed li {
    padding-left: 17%;
    display: inline;
}

.usa {
    text-align: left;
    font-size: 20px;
    color: red;
    font-weight: 900;
}

.europe {
    text-align: right;
    color: blue;
    font-size: 20px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.fa-brands {
    color: red;
    flex-direction: row;
    display: inline;
    font-size: 50px;
}

footer {
    padding-top: 19%;
}

.social-media {
    display: flex;
    justify-content: space-around;
    color: blue;
    flex-direction: row-reverse;
}

.rydercup {
    display: flex;
    height: 100%;
    width: 100%
}