* {
    font-family: 'Lato', sans-serif;
}

h1 {
    width: 80%;
}

/* Video styles here */

iframe {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

/* Video styles end */

#border {
    border: 3px solid gold;
    border-style: double;
}

header>p {
    text-align: left;
    font-style: italic;
    text-shadow: 2px 2px 4px black;
}

h1 {
    text-align: left;
    text-shadow: 2px 2px 4px black;
}

/* Social media icon styles */

ul {
    list-style: none;
}

main h2 {
    text-align: center;
    color: blue;
}

header {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: red;
    font-size: 2em;
}

header>a {
    color: blue;
    font-family: 'Lato', sans-serif;
}

/* Form styles */

form {
    text-align: right;
    font-size: 120%;
    color: blue;
    padding-right: 40%;
    padding-top: 5%;
}

body {
    background-image: url(../images/golf.webp);
    background-repeat: no-repeat;
    background-size: cover;

}

.golf {
    text-align: right;
    top: 0px;
    right: 0px;
    padding-right: 5%;
    position: fixed;
    font-weight: 900;
    text-shadow: 2px 2px 4px black;
}

#socmed ul {
    list-style: none;
}

#socmed li {
    padding-left: 17%;
    display: inline;
}

.usa {
    text-align: left;
    font-size: 20px;
    color: red;
    font-weight: 900;
}

.europe {
    text-align: right;
    color: blue;
    font-size: 20px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.fa-brands {
    color: red;
    flex-direction: row;
    display: inline;
    font-size: 50px;
}

footer {
    padding-top: 2%;
    padding-bottom: 100px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    margin: 0;
}

.social-media {
    display: flex;
    justify-content: space-around;
    color: blue;
    flex-direction: row-reverse;
}

.rydercup {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Media queries below here */

/* Desktop screens */
@media screen and (max-width: 1200px) {}

/* Larger devices (laptops and desktops, 992px and up) */
@media screen and (max-width: 992px) {}

/* Media query: tablets and larger (768px and up) */
@media screen and (max-width: 768px) {

    #socmed li {
        padding-left: 14%;
        display: inline;
    }

    h1 {
        font-size: 80%;
    }
}

/* Media query: large or landscape phones (576px and up) */

@media screen and (max-width: 576px) {
    h1 {
        font-size: 80%;
    }

    header p {
        font-size: 80%;
    }

    .golf {
        font-size: 50%;
    }

    #socmed i {
        font-size: 30px;
    }

    #socmed li {
        padding-left: 12%;
        display: inline;
    }

    footer {
        padding-top: 5%;
        padding-bottom: 100px;
    }
}